[buildout]
parts = python django
develop = .
eggs = asgard-blog
extra-paths = ${django-tagging:location}/django-tagging/

[python]
recipe = zc.recipe.egg
interpreter = python
eggs = ${buildout:eggs}
extra-paths = ${buildout:extra-paths}